:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
}
#bootstrap-override .btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--primary-font-family);
}
h1 {
  font-size: 86px;
  font-weight: bold;
  font-family: var(--secondary-font-family);
}

h2 {
  font-size: 48px;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--primary-font-family);
  font-weight: normal;
}
.hero {
  padding: 160px 20px;
}

.project-description p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  text-decoration: none;
}

.primary-link {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 4px;
}
.content-container {
  padding: 160px 20px;
  font-family: var(--primary-font-family);
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
}
.content p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.content a {
  text-decoration: none;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.content-container img {
  border-radius: 25px;
}

/* .about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
} */

/* .email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
} */

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .primary-link {
    display: block;
    margin: 0 20px;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .project-description p {
    text-align: center;
  }
}
