:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Playfair Display", serif;
}
body {
  font-family: var(--primary-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--primary-font-family);
}
h1 {
  font-size: 86px;
  font-weight: bold;
  font-family: var(--secondary-font-family);
}

h2 {
  font-size: 48px;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--primary-font-family);
  font-weight: normal;
}
h4 {
  font-size: 48px;
  font-family: var(--primary-font-family);
  font-weight: bold;
}
nav {
  padding: 20px 0;
  font-family: var(--primary-font-family);
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  line-height: 42px;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
}
footer {
  margin: 60px 0;
  font-family: var(--primary-font-family);
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer a {
  text-decoration: none;
}
footer .email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
/* class="fixed-top" */

footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  color: var(--primary-color);
  font-size: 18px;
  background: var(--secondary-color);
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
.logo:hover {
  color: #272142;
}
.hero {
  background: var(--secondary-color);
  padding: 80px 20px;
}
#bootstrap-override .btn-branding {
  background: var(--primary-color);
  font-family: var(--primary-font-family);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
#bootstrap-override .btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
#bootstrap-override .btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  text-decoration: none;
}

.about-section {
  font-family: var(--primary-font-family);
}
.content-container {
  padding: 60px 20px;
  font-family: var(--primary-font-family);
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: bold;
}
.content h2 {
  font-size: 18px;
}
.content a {
  text-decoration: none;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.content-container img {
  border-radius: 25px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .btn-branding-outline {
    display: block;
    width: 180px;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    font-size: 30px;
  }
  h4 {
    font-size: 26px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description p {
    text-align: center;
    font-size: 15px;
  }
}
